root = true

# General configuration
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++
[*.{cpp,hpp,h}]
indent_style = tab
indent_size = 2

# CMake
[CMakeLists.txt]
indent_style = space
indent_size = 2

# Lua, XML
[*.{lua,xml}]
indent_style = tab
indent_size = 2

# YAML, JSON, SQL
[*.{yml,yaml,yamllint,json,sql}]
indent_style = space
indent_size = 2
