<form method="post" action="{{ constant('ADMIN_URL') }}?p=items">
  <input type="hidden" name="reload" value="1"/>
  <input type="submit" value="Reload items and weapons (it may take some time to finish)"/>
</form>
