<br/><br/><br/><br/>
<center>
  Thank you for your donation!<br/>
  When our systems confirm your donation will be automatically added points in your account as a thank you.<br/>
  Continue contributing to our server reporting bugs in the forum.
  <br/><br/>
  Have fun!
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <div class="BigButton">
    <table width="100%">
      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="0">
            <form action="{{ getLink('account/manage') }}" method="post">
              <tr>
                <td style="border:0px;">
                  {{ include('buttons.back.html.twig') }}
                </td>
              </tr>
            </form>
          </table>
        </td>
      </tr>
    </table>
  </div>
</center>
