<h3>New recovery key!</h3>
<p>You or someone else generated recovery key to your account on server <a href="{{ constant('BASE_URL') }}"><b>{{ config.lua.serverName }}</b></a>.</p>
<p>Recovery key: <b>{{ recovery_key }}</b></p>