<h3>Password to account changed!</h3>
<p>You or someone else changed password to your account on server <a href="{{ constant('BASE_URL') }}"><b>{{ config.lua.serverName }}</b></a>.</p>
<p>New password: <b>{{ new_password }}</b></p>
