<div style="text-align:center">
  <table cellspacing="0" cellpadding="0" border="0">
    <form method="post" action="{{ getLink('news/archive') }}">
      <tbody>
      <tr>
        <td>
          {% set button_name = 'Back' %}
          {{ include('buttons.base.html.twig') }}
        </td>
      </tr>
      </tbody>
    </form>
  </table>
</div>
