<div class="TableContainer">
	<div class="CaptionContainer">
		<div class="CaptionInnerContainer">
			<span class="CaptionEdgeLeftTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionEdgeRightTop" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionBorderTop" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
			<span class="CaptionVerticalLeft" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
			<div class="Text">Search Character</div>
			<span class="CaptionVerticalRight" style="background-image:url(templates/tibiacom/images/global/content/box-frame-vertical.gif);"></span>
			<span class="CaptionBorderBottom" style="background-image:url(templates/tibiacom/images/global/content/table-headline-border.gif);"></span>
			<span class="CaptionEdgeLeftBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
			<span class="CaptionEdgeRightBottom" style="background-image:url(templates/tibiacom/images/global/content/box-frame-edge.gif);"></span>
		</div></div>
	<table class="Table1" cellpadding="0" cellspacing="0">
		<tbody><tr>
			<td>
				<div class="InnerTableContainer">
					<table style="width: 100%">
						<tbody>
							<tr>
								<form action="{{ getLink('characters') }}" method=post>
									<td style="vertical-align:middle;" class="LabelV150">Character Name:</td>
									<td style="width: 80%"><input name="name" style="width: 100%" size=29 maxlength=29></td>
									<td>{% set button_name = 'Submit' %}
									{% include('buttons.base.html.twig') %}</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr></tbody>
	</table>
</div>
