{% if result is iterable %}
  <div class="col-4">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Top 10 - Most coins</h3>
      </div>
      <div class="box-body no-padding">
        <table class="table table-condensed">
          <tbody>
          <tr>
            <th>#</th>
            <th>Account {{ account_type }}</th>
            <th>Coins</th>
          </tr>
          {% set i = 0 %}
          {% for item in result %}
            {% set i = i + 1 %}
            <tr>
              <td>{{ i }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.coins }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endif %}
