{% spaceless %}
<div class="BigButton" style="background-image:url({{ template_path }}/images/global/buttons/sbutton_green.gif)">
<div onmouseover="MouseOverBigButton(this);" onmouseout="MouseOutBigButton(this);"><div class="BigButtonOver" style="background-image: url({{ template_path }}/images/global/buttons/sbutton_green_over.gif); visibility: hidden;"></div>
<input class="BigButtonText" type="submit" value="{{ button_name }}"></div>
</div>
{% endspaceless %}