---
name: Build - Docker

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.15
        with:
          versionSpec: '5.x'

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.15

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.1.0
        with:
          install: true

      - name: Cache Docker layers
        uses: actions/cache@main
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        if: ${{ github.event_name == 'pull_request' }}
        uses: docker/build-push-action@v3.2.0
        with:
          file: docker/server/Dockerfile
          tags: ghcr.io/${{ github.repository }}:${{ steps.gitversion.outputs.semVer }}
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}

      - name: Build and push
        id: docker_build
        if: ${{ github.event_name == 'push' }}
        uses: docker/build-push-action@v3.2.0
        with:
          file: docker/server/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ steps.gitversion.outputs.semVer }}
          cache-from: type=gha, scope=${{ github.workflow }}
          cache-to: type=gha, scope=${{ github.workflow }}

      - name: Image digest
        if: ${{ github.event_name == 'push' }}
        run: echo ${{ steps.docker_build.outputs.digest }}

      # # Temp fix
      # # https://github.com/docker/build-push-action/issues/252
      # # https://github.com/moby/buildkit/issues/1896
      # - name: Move cache
      #   run: |
      #     rm -rf /tmp/.buildx-cache
      #     mv /tmp/.buildx-cache-new /tmp/.buildx-cache
