name: Reusable Windows Solution Build

on:
  workflow_call:

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v2

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
              core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
              core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Get vcpkg baseline
        id: vcpkg-baseline
        shell: pwsh
        run: |
          $json = Get-Content vcpkg.json -Raw | ConvertFrom-Json
          $vcpkgCommitId = $json.'builtin-baseline'
          echo "VCPKG_GIT_COMMIT_ID=$vcpkgCommitId" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: ${{ github.workspace }}/vcpkg
          vcpkgGitURL: "https://github.com/microsoft/vcpkg.git"
          vcpkgGitCommitId: ${{ env.VCPKG_GIT_COMMIT_ID }}

      - name: Build project
        shell: pwsh
        run: |
          $vcpkgRoot = Join-Path (Get-Location) "vcpkg"
          $vcpkgProps = Join-Path $vcpkgRoot "scripts/buildsystems/msbuild/vcpkg.props"
          $vcpkgTargets = Join-Path $vcpkgRoot "scripts/buildsystems/msbuild/vcpkg.targets"
          
          msbuild.exe /p:VcpkgEnableManifest=true `
                      /p:Configuration=Debug `
                      /p:Platform=x64 `
                      /p:VcpkgRoot="$vcpkgRoot" `
                      /p:GITHUB_WORKSPACE="${{ github.workspace }}" `
                      /p:ForceImportAfterCppProps="$vcpkgProps" `
                      /p:ForceImportAfterCppTargets="$vcpkgTargets" `
                      vcproj/canary.sln

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-solution-debug
          path: |
            ${{ github.workspace }}/*.dll
            ${{ github.workspace }}/*.exe
