name: Reusable Linux Build

on:
  workflow_call:

env:
  VCPKG_BINARY_SOURCES: "clear;gha,readwrite"

jobs:
  build:
    name: Compile (${{ matrix.buildtype }})
    strategy:
      fail-fast: false
      matrix:
        buildtype: [linux-release, linux-debug]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
              core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
              core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Get vcpkg baseline
        id: vcpkg-baseline
        shell: bash
        run: |
          vcpkgCommitId=$(grep '.builtin-baseline' vcpkg.json | awk -F: '{print $2}' | tr -d '," ')
          echo "VCPKG_GIT_COMMIT_ID=$vcpkgCommitId" >> "$GITHUB_ENV"

      - name: Install Linux Dependencies
        run: sudo apt-get update && sudo apt-get install -y ccache ninja-build

      - name: CCache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          max-size: "1G"
          key: ccache-linux-${{ matrix.buildtype }}
          restore-keys: |
            ccache-linux

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitURL: "https://github.com/microsoft/vcpkg.git"
          vcpkgGitCommitId: ${{ env.VCPKG_GIT_COMMIT_ID }}

      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: ${{ matrix.buildtype }}
          buildPreset: ${{ matrix.buildtype }}
