name: Reusable Windows Solution Build

on:
  workflow_call:

env:
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v2

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
              core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
              core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Get vcpkg baseline
        id: vcpkg-baseline
        shell: pwsh
        run: |
          $json = Get-Content vcpkg.json -Raw | ConvertFrom-Json
          $vcpkgCommitId = $json.'builtin-baseline'
          echo "VCPKG_GIT_COMMIT_ID=$vcpkgCommitId" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitURL: "https://github.com/microsoft/vcpkg.git"
          vcpkgGitCommitId: ${{ env.VCPKG_GIT_COMMIT_ID }}

      - name: Build project
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
          # The vcpkg integration is done via MSBuild properties since we define VCPKG_ROOT via run-vcpkg
        run: |
          msbuild.exe /p:VcpkgEnableManifest=true /p:Configuration=Debug /p:Platform=x64 /p:VcpkgRoot="${{ github.workspace }}/vcpkg" /p:GITHUB_WORKSPACE="${{ github.workspace }}" vcproj/canary.sln

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-solution-debug
          path: |
            ${{ github.workspace }}/*.dll
            ${{ github.workspace }}/*.exe
