name: Reusable Windows Build

on:
  workflow_call:

env:
  VCPKG_BINARY_SOURCES: "clear;gha,readwrite"

jobs:
  build:
    name: Compile (CMake)
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
              core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
              core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Get vcpkg baseline
        id: vcpkg-baseline
        shell: pwsh
        run: |
          $json = Get-Content vcpkg.json -Raw | ConvertFrom-Json
          $vcpkgCommitId = $json.'builtin-baseline'
          echo "VCPKG_GIT_COMMIT_ID=$vcpkgCommitId" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Remove Windows pre-installed MySQL
        run: rm -r -fo C:/mysql*

      - name: CCache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          max-size: "1G"
          variant: "sccache"
          key: ccache-windows-release
          restore-keys: |
            ccache-windows

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitURL: "https://github.com/microsoft/vcpkg.git"
          vcpkgGitCommitId: ${{ env.VCPKG_GIT_COMMIT_ID }}

      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: windows-release
          buildPreset: windows-release
