name: Reusable macOS Build

on:
  workflow_call:

jobs:
  build:
    name: Compile (macOS)
    runs-on: macos-latest
    env:
      VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v7
        with:
          script: |
              core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
              core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Get vcpkg baseline
        id: vcpkg-baseline
        shell: bash
        run: |
          vcpkgCommitId=$(grep '.builtin-baseline' vcpkg.json | awk -F: '{print $2}' | tr -d '," ')
          echo "VCPKG_GIT_COMMIT_ID=$vcpkgCommitId" >> "$GITHUB_ENV"

      - name: Install macOS Dependencies
        run: brew install ccache ninja pkg-config

      - name: CCache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          max-size: "1G"
          key: ccache-macos-release
          restore-keys: |
            ccache-macos

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgGitURL: "https://github.com/microsoft/vcpkg.git"
          vcpkgGitCommitId: ${{ env.VCPKG_GIT_COMMIT_ID }}

      - name: Run CMake
        uses: lukka/run-cmake@v10
        with:
          configurePreset: macos-release
          buildPreset: macos-release
